<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="vievport" content="width=device-width, initial-scale = 1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    <title></title>
</head>
<body>
<div class="card-header">
    <div class="row">
        <div class="col-9" style="padding-right: 0px">
            <div class="card-header bg-dark" align="center" style="height: 150px;background-size: cover" >
                <div class="h1" style="color: #9fcdff; font-size: 50px; margin-top: 30px">
                    PC-Hunter.com
                </div>
                <div class="breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{%  url "Main" %} ">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">{{ product.category.name }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-3" style="padding-left: 0px">
            <div class="card-header bg-dark" align="center" style="height: 150px;background-size: cover">
                <div class="navbar" style="color: #9fcdff; height: 140px">
                    {% if request.user.is_authenticated %}
                        <a href="logout" class="btn btn-info" role="button"
                           style="position:absolute; top:35%;  left:50%; width: 85px">Logout
                        </a>
                        <a href="########" rel="nofollow">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 style="position: absolute; top:0%; left: 50%; width: 40px; height: 40px;"
                                 fill="currentColor" class="bi bi-cart2"
                                 viewBox="0 0 16 16">
                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                            </svg>
                        </a>
                        <a href="back" class="btn btn-info" role="button" style="position:absolute; top:65%; width: 85px;left:50%">Home
                        </a>
                    {% else %}
                        <a href="login-page" class="btn btn-info" role="button"
                           style="position:absolute; top:5%;  left:60%; width: 85px">Sign in</a>
                        <a href="go_to_regist" class="btn btn-info" role="button"
                           style="position: absolute; top:35%;  left:60%; width: 85px">Register</a>
                        <a href="back" class="btn btn-info" role="button" style="position:absolute; top:65%; width: 85px; left:60%">Home</a>
                    {% endif %}

                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% block title %}{% endblock title %}

<div class="card-footer">
    <div class="row">
        <div class="col-12">
            <div class="card-body bg-dark" align="center" style="height: 80px" style="margin: 50px">
                <div class="footer-content" style="color: #9fcdff">Bottom of the title
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>




