{% extends "common.html" %}
{% block title %}


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="padding-left: 40px; padding-right: 50px;box-sizing: border-box">
                <div class="card-body bg-light" style="height: auto;box-sizing: border-box; background-size: cover">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card h-55 bg-light">
                                <a href="get_csv">Download</a>
                                <a href="#"><img class="card-img-top" src="static/img/Harddrive.jpg"
                                                 style="height: 175px" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title" align="center">
                                        <a href="#">Hard drives</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card h-55 bg-light">
                                <a href="#"><img class="card-img-top" src="static/img/Processor.jpg"
                                                 style="height: 175px" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title" align="center">
                                        <a href="#">Processors</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card h-55 bg-light">
                                <a href="go_to_motherboards"><img class="card-img-top" src="static/img/Motherboard.jpg"
                                                                  style="height: 175px" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title" align="center">
                                        <a href="#">Motherboards</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card h-55 bg-light">
                                <a href="go_to_videocards"><img class="card-img-top" src="static/img/Card.jpg"
                                                                style="height: 175px" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title" align="center">
                                        <a href="#">Video cards</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card h-55 bg-light">
                                <a href="#"><img class="card-img-top" src="static/img/Memory.jpg" style="height: 175px"
                                                 alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title" align="center">
                                        <a href="#">Main memory</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}