{% extends "common.html" %}
{% block content %}
<body>
<div class="card-header">
    <div class="row">
        <div class="col-12">
            <div class="card-body bg-dark" align="center" style="height: 150px" style = "margin: 80px" >
                <div style="color: #9fcdff">
                    <a href="back" class="btn btn-info" role="button" style="position:absolute; top:40%;  left:85%">Back to main page</a>
                    <h1>Eror</h1><p></p><h2>User not found</h2>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}