<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">

    <tbody>
    <tr>
        <td>Socket</td>
        <td>{{ product.socket }}</td>
    </tr>
    <tr>
        <td>Core number</td>
        <td>{{ product.core_number }}</td>
    </tr>
    <tr>
        <td>Clock frequency</td>
        <td>{{ product.clock_frequency }}</td>
    </tr>
    <tr>
        <td> Cache L3</td>
        <td>{{ product.cache }}</td>
    </tr>
    <tr>
        <td>Transistor thickness</td>
        <td>{{ product.transistor_thickness }}</td>
    </tr>
    <tr>
        <td>Memory support</td>
        <td>{{ product.memory_support }}</td>
    </tr>
    </tbody>
</table>
</body>
</html>
</body>
</html>