{% extends "common.html" %}
{% block title %}

<div class="container-fluid">


    <div class="row">
        <div class=" col-4" style="size: auto">
            <div class="card-body bg-light" style="height:auto; margin-left: 40px; margin-right: 40px;background-size: cover">
                <div class="image">
                <img src="{{ product.image.url }}" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-8">
             <div class="card-body bg-light" style="height:auto; margin-left: 40px; margin-right: 40px;background-size: cover">
                 <div class="product-info">
                <h3>{{ product.title }}</h3>
                <p>Price:{{ product.price }} $.</p>
                <p>Description:{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-12" style="size: auto">
            <div class="card-body bg-light" style="height:auto; margin-left: 40px; margin-right: 40px;background-size: cover">
                <div class="table-title" align="center">
                    <p class="mt-4" style="font-size: 20px">Product features:</p>
                </div>
                {% if product.category.slug == "videocard" %}
                    {% include "videocard_specification.html" %}
                {% elif product.category.slug == "motherboard" %}
                    {% include "motherboard_specification.html" %}
                {% elif product.category.slug == "ram" %}
                    {% include "ram_specification.html" %}
                {% elif product.category.slug == "harddrive" %}
                    {% include "harddrive_specification.html" %}
                {% elif product.category.slug == "processor" %}
                    {% include "processor_specification.html" %}
                {% elif product.category.slug == "computer" %}
                    {% include "computer_specification.html" %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock title %}







