<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/bootstrap.min.css">

    <script src="/static/js/jquery-3.3.1.min.js"></script>

    <script src="static/scrypt.js"></script>

    <script src="static/js/popper.min.js"></script>

    <script src="static/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title></title>
</head>

    <body>
    <div class="card-header">
        <div class="row">
            <div class="col-12">
                <div class="card-body bg-dark" align="center" style="height: 150px" style="margin: 80px">
                    <div style="color: #9fcdff">
                        <a href="back" class="btn btn-info" role="button" style="position:absolute; top:40%;  left:85%">Back
                            to main page</a>
                        <h1>Sign up</h1>
                        <p></p>to get pc of your dream
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="registration-field" align="center">
        <form method="post" action="registration">
            <label for="username"><b>Username</b></label>
            <p></p>
            <input id="id_username" type="text" name="username" placeholder="Username">
            <p></p>
            <label for="password"><b>Password</b></label>
            <p></p>
            <input id="id_password" type="password" name="password" placeholder="Password">
            <p></p>
            <label for="email"><b>Email</b></label>
            <p></p>
            <input id="id_email" type="email" name="Email" placeholder="Email">
            <p></p>
            <button id="id_submit" class="btn btn-primary">Register now</button>
            <p></p>
        </form>
        <button id="test_button">test button</button>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-12">
                <div class="card-body bg-dark" align="center" style="height: 80px" style="margin: 50px">
                    Bottom of the title
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>
