<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">

    <tbody>
    <tr>
        <td>GPU manufacturer</td>
        <td>{{ product.gpu_manufacturer }}</td>
    </tr>
    <tr>
        <td>Graphics processor</td>
        <td>{{ product.graphics_processor }}</td>
    </tr>
    <tr>
        <td>GPU frequency</td>
        <td>{{ product.gpu_frequency }}</td>
    </tr>
    <tr>
        <td>Video memory</td>
        <td>{{ product.video_memory }}</td>
    </tr>
    <tr>
        <td>Power supply unit</td>
        <td>{{ product.supply_power }}</td>
    </tr>
    </tbody>
</table>
</body>
</html>
